:root{
  --background-color: #121212;
  --text-color: #FFFFFF;
}

body{
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Source Sans 3", sans-serif;
}

/* Header */

header{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-position: center;
  background-size: cover;
  min-height: 175px;
  height: 30vh;
  background-image: url(../../background.png);
  margin-bottom: 2.5em;
}

nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

h1{
  margin: 2.25em 0 0 0;
  padding: 0;
  font-size: 2.5rem;
}

h2{
  margin: 2em 0 0 0;
  padding: 0;
  font-size: 1rem;
  text-decoration: underline;
  cursor: pointer;
}

h1,h2{
  text-shadow: 0 0 black;
}

a:visited{
  color: var(--text-color);
}

/* Search Bar */

.searchbar{
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -3.5vh;
  width: 90%;
  text-align: left;
  margin: 0 auto;
  background-color: #2e2e2f;
  border-radius: 15px;
  height: 55px;
}

.search-icon{
  font-size: 1rem;
  color: grey;
  margin: 0 0 0 1.25em;
}

input[type="text"]{
  background-color: #2e2e2f;
  border: none;
  outline: none;
  font-size: 1.125rem;
  color: grey;
  margin-left: 20px;
  width: 100%;
}

.search-button{
  margin-left: auto;
  background-color: #4B4B4B;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 0;
  height: 100%;
  width: 40%;
  color: var(--text-color);
  cursor: pointer;
  font-size: 1rem;
}

.search-button:hover{
  background-color: #555555;
}

/* Main Content / Movies Lineup */

main{
  width: 100%;
  min-height: 60vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fa-film{
  color: #2E2E2F;
  font-size: 10rem;
}

main p{
  text-align: center;
  margin: 0;
  color: #2E2E2F;
  font-size: 2.25rem;
}

.movie{
  max-width: 450px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
  padding: 1em 0;
  border: 1px solid rgb(26, 26, 26);
}

.movie img{
  width: 35%;
  /* height: calc(40% * 5 / 7); */
  margin-left: 1em;
  max-width: 250px;
}

.outer-movie-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5em;
  align-items: flex-start;
  width: 70%;
  max-width: 400px;
}

.title-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  column-gap: 1em;
}

h3{
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 1.25rem;
}

.rating{
  display: flex;
  align-items: center;
  padding-right: .5em;
}

.fa-star{
  color: #fec654;
  font-size: .75rem;
}

.title-container p{
  font-size: 1.125rem;
  color: var(--text-color);
  font-weight: 200;
  text-align: center;
  margin-left: .25em;
}

.inner-movie-info{
  display: flex;
  justify-content: space-between;
  row-gap: .25em;
  flex-wrap: wrap;
  width: 75%;
  max-width: 250px;
  /* overflow: scroll; */
}

.inner-movie-info p{
  font-size: 1rem;
  font-weight: 300;
  color: var(--text-color);
}

.add-watchlist-btn{
  text-align: center;
  border-radius: 25px;
  width: 50%;
  background: var(--text-color);
  color: var(--background-color);
  display: block;
  padding: .75em;
  border: none;
  font-size: 1rem;
  /* margin-top: .5em; */
  cursor: pointer;
}

.add-watchlist-btn:hover{
  background-color: #A5A5A5;
}

.summary{
  line-height: 1.5;
  font-size: 1rem;
  color: #A5A5A5;
  width: 95%;
  max-width: 250px ;
  /* margin-top: .5em; */
}

.load-more-btn{
  display: block;
  font-size: 1.5rem;
  margin: 0 auto;
}

.hidden{
  display:none;
}

@media (min-width:768px){

  .searchbar{
    max-width: 700px;
  }
  main{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .movie img{
    width: 45%;
  }

  .movie{
    min-height: 350px;
    width: 70%;
    /* min-width: 500px; */
    max-width: 600px;
  }

  .add-watchlist-btn{
    width: 50%;
  }
}

@media (min-width:1024px){
  .searchbar{
    width: 68%;
    max-width: 1100px;
  }
  
  main{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .movie{
    min-width: 400px;
    width: 33%;
    max-width: 700px;
  }

  .add-watchlist-btn{
    min-width: 125px;
    max-width: 150px;
  }
}